@import './reset.css';

body {
    background-color: #000000;
    color: white;
    padding-top: 20px;
}

h2 {
    margin: 0;
}

/* post index */
.post-index {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* post index item */
.post-index-item {
    padding: 20px;
    border: .5px solid silver;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
}