@import './reset.css';

body {
    background-color: #000000;
    color: white;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

input, textarea {
    padding: 15px;
    background-color: transparent;
    border-radius: 10px;
    border: 0.5px solid silver;
    outline: none;
    color: white
}

input:hover, textarea:hover {
    border: 0.5px solid white;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.876);
}

.error-msg {
    color: red;
}

/* navbar */
.navbar {
    background-color: #000000;
    border-bottom: 0.5px solid silver;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50%;
}

.navbar span {
    font-size: 25px;
}

/* post index */
.post-index {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}

/* post index item */
.post-index-item {
    padding: 20px;
    border: 0.5px solid silver;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
}

.post-index-item:hover {
    border: 0.5px solid white;
}

/* post show */
.post-show {
    height: 600px;
    padding: 20px;
    border: 0.5px solid silver;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    margin: 10px;
}

.post-show h2 {
    margin-bottom: 40px;
}

/* post form */
.post-form {
    height: 600px;
    padding: 10px 50px;
}

.post-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-form form button {
    width: 150px;
    border-radius: 20px;
    height: 30px;
    margin: 0 auto;
    margin-top: 50px;
}